*{
    margin: 0;
    padding: 0;
}


/*BODY------------------------------*/
body {
  font-family: Arial, sans-serif;
  background-color: #f5e6d3;
  min-height: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


form{
  background: #ffffff;
  padding: 50px 70px;
  border-radius: 10px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0);
  display:flex;
  flex-direction: column;
  gap: 8px;
  border: #a0512d7e 1px solid;
}


input{
  padding: 10px;
  border: 1px solid #a0512d7e;
  border-radius: 5px;
}

#comentarios{
  padding:30px;
  border:1px solid #a0512d7e;
  border-radius: 5px;
}

textarea{
  resize: none;
}


label{
  font-weight: bold;
  margin-top: 10px;
}

button{
  font-family: 'Inter', sans-serif;   /* Fuente Inter */
  font-weight: 500;                   /* Medium */
  text-transform: uppercase;          /* Mayúsculas */
  letter-spacing: 0.08em; 
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease;
  
}


button:hover{
  background-color: rgb(117, 117, 117);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,o,o.2);
}


button:active{
  transform: scale(0.95);
}